html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: linear-gradient(0.4turn,rgb(255,255,255), rgb(0,0,139));
    margin: 0 auto;
    /* font-family: 'Raleway', sans-serif;
    font-style: normal; */
    font-family: 'Gruppo', cursive;
    font-style: normal;
}
/*-------------------Header-----------------------*/
header {
    margin: 0;
    width: 100%;
    background: linear-gradient(0.47turn,rgb(255,255,255), rgb(0,0,139)70%, rgb(178,34,34));
}
.title_wrap{
    width: 100%;
    text-align: center;
    padding: 10px 0px 15px 10px;
    display:grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}
.company_name{
    text-decoration: none;
    /* font-family: 'Gruppo', cursive;
    font-style: normal; */
}
.evolution {
    color: darkblue;
    font-size: 45px;
    margin: 0;
    padding: 0;
    display: block;
}
.brasil {
    color: rgb(197, 2, 2);
    font-size:25px;
    margin: 0;
    padding: 0;
    display: block;
}
/*-------------------Menu Bar-----------------------*/
.menu_bar {
    background-color: black;
}
.menu_icon {
    display: none;
}
#btn_show {
    display: none;
}
.menu_wrap {
    background-color: black;
    margin:0;
    padding: 0;
    width: 100%;
}
.menu_list{
    margin: 0;
    padding: 0;
    text-align: center;
}
.select_item{
    text-align: left;
    display: inline-block;
    margin-left: 10px;
}
.select_item button{
    background-color: black;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    /* font-weight: 400; */
    display: inline-block;
    border: none;
    font-family: 'Gruppo', cursive;
    font-style: normal;
    cursor: pointer;
}
.select_item:first-child{
    grid-column-start: 2;
}
.displayed_option{
    text-decoration: none;
    color: white;
    /* font-weight: 700; */
}
.select_item:hover .displayed_option{
    background-color: rgba(197, 2, 2,80%);
    /* font-weight: 700; */
    box-shadow: 8px 16px 16px 4px rgba(0,0,0,0.2);
    transition: background-color 1s;
}
.dropdown_list{
    padding: 0;
}
.dropdown_wrap a {
    display: block;
    background-color: gainsboro;
    text-decoration: none;
    color: black;
    text-align: left;
    padding: 8px 8px 8px 5px;
    font-size: 16px;
    /* font-weight: 700; */
}
.dropdown_wrap a:hover {
    background-color: lightgrey;
    transition: background-color 500ms;
    transition: color 500ms;
    /* font-weight: 700; */
    color: rgba(197, 2, 2, 80%);
}
.menu_wrap ul {
    list-style-type: none;
}

/*-------------------Slide Bottom-----------------------*/
/* .slide-bottom {
	-webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */
.sticky {
    position: fixed;
    width: 100%;
    background: none;
    z-index: 1;
    transition: 1s;
}
.sticky .header_wrap {
    background: rgba(255,255,255, 50%);
    border-bottom: 3px solid darkblue; 
}
.sticky .menu_bar {
    background: none;
}
.sticky .menu_icon {
    color: darkblue;
    transition: 1s;
}
.sticky .menu_wrap {
    background: none;
    transition: 1s;
}
.sticky .title_wrap {
    background: none;
    display: block;
    transition: 1s;
}
.sticky .select_item {
    background: none;
}
.sticky .select_item .displayed_option {
    background: none;
}
.sticky .displayed_option{
    color: darkblue;
}
.sticky .dropdown_wrap {
    border-top: 3px solid darkblue;
}
/*-------------------Content-----------------------*/

.content_wrap {
    margin: 0 auto;
    width: 100%;
}
.slogan {
    background: url(../images_evolution/home1.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 300px 0px 590px 0px;
    text-align: right;
}
.slogan h1 {
    background: rgba(25,25,112,30%);
    color: snow;
    font-size: 50px;
    /* font-family: 'Gruppo', cursive;
    font-style: normal; */
    padding: 60px 20px 60px 0px;
    margin-right: 45%;
}
.slide-right {
	-webkit-animation: slide-right 2.5s ease-out forwards;
	        animation: slide-right 2.5s ease-out forwards;
}
/*-------------------Footer-----------------------*/
footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    bottom: 0;
}
footer p{
    color: white;
    padding: 15px 0px;
}
/*-------------------Animation-----------------------*/
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-120%);
              transform: translateX(-120%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
}
@keyframes slide-right {
    0% {
      -webkit-transform: translateX(-120%);
              transform: translateX(-120%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
}
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

/*-------------------Responsive Styles-----------------------*/
@media screen and (min-width: 800px){
    .select_item:hover .dropdown_wrap {
        display: block;
    }
    .sticky .select_item:hover .displayed_option{
        color: white;
        background: darkblue;
    }
    .dropdown_wrap {
        display: none;
        position: absolute;
        width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
}
@media screen and (max-width: 799px){
    .fa-bars {
        z-index: 1;
    }
    .slogan {
        background: url(../images_evolution/home1_mobile.png) no-repeat;
        background-size: cover;
        background-position: center;
        padding: 150px 0px 347px 0px;
        text-align: right;
    }
    .slogan h1 {
        background: rgba(255,250,250,30%);
        color: rgb(25,25,112);
    }
    .select_item{
        text-align: left;
    }
    .menu_wrap {
        display: none;
        position: absolute;
    }
    .menu_icon {
        display: block;
        width: 10%;
        color: white;
        font-size: 30px;
        text-align: left;
        margin: 0px 0px 0px 15px;
        padding: 0;
        cursor: pointer;
    }
    #btn_show:checked + .menu_wrap {
        display: block;
        z-index: 1;
    }
    .menu_list, .select_item {
        text-align: left;
        display: block;
        width: 100%;
        margin: 0;
    }
    .select_item:hover .displayed_option {
        background: none;
        box-shadow: none;
        transition: none;
    }
    .sticky .dropdown_wrap {
        border-top: none;
    }
    .sticky .dropdown_wrap a {
        background-color: darkblue;
        border-bottom: 1px solid rgb(255,255,255);
        color: white;
    }
    .sticky .menu_wrap {
        background: none;
        border-bottom: 3px solid darkblue;
    }
    .sticky .select_item {
        border-bottom: 1px solid darkblue;
    }
    .show {
        display: none;
    }
    .sticky .select_style1 {
        background: rgba(255,255,255, 65%);
    }
    .select_style2 {
        background: rgba(0, 0, 139, 0.527);
        color: white;
    }
}
@media screen and (max-width: 499px){
    .slogan h1 {
        background: rgba(255,250,250,30%);
        color: rgb(25,25,112);
        margin-right: 30%;
    }
}